<h2>LIENS</h2>
<p>
  <ul>
<li>Site internet : <a href="http://quentinchapelle.fr/">quentinchapelle.fr</a></li>

<li>Twitter : <a href="https://twitter.com/quentinchap">twitter.com/quentinchap</a></li>

<li>LinkedIn : <a href="https://fr.linkedin.com/in/quentinchapelle">fr.linkedin.com/in/quentinchapelle</a></li>


<li>Viadeo : <a href="https://www.viadeo.com/fr/profile/qchapelle">www.viadeo.com/fr/profile/qchapelle</a></li>

<li>CV DoyouBuzz : <a href="http://www.doyoubuzz.com/quentin-chapelle">www.doyoubuzz.com/quentin-chapelle</a></li>
</ul>
</p>
