<div class="jumbotron col-md-4">

  <p class="lead">
    <img src="images/photoProfil.jpg" style="width:100%; max-width:200px;" alt="I'm Yeoman"><br>
    <p style="text-align: center;">
      <a href="https://twitter.com/quentinchap">@quentinchap</a><br />
      <a href="https://www.linkedin.com/in/quentinchapelle">LinkedIn</a>
    </p>
  </p>
</div>

<div class="col-md-1"></div>

<div class=" col-md-7">
<h1>Accueil</h1>
<p style="text-align: justify;">   Bonjour et bienvenue sur mon portail professionnel.<br />
Ici vous trouverai tout un ensemble d’information concernant mes différentes expériences professionnelles.
  Vous pourrez notamment consulter:
<ul>
<li>Mon curriculum Vitae complet</li>
<li>Des précisions sur mon parcours professionnel et sur mes diverses formations</li>
<li>Des articles sur des projets personnels</li>
<li>Divers liens permettant de me contacter sur une sélection de réseaux sociaux spécialisés</li>
</ul>
Bonne visite !</p>

</div>
